@import './breakpoints.scss';
@import './helper.scss';
@import './button.scss';

body{
    // font-family: "acumin-pro-semi-condensed", "Arial";
    font-family:"acumin-pro-condensed", "sans-serif";
    font-size: 14px;
    color: $color-black;
    font-weight: 400;
    background-color: $color-lighter_grey;
}

*{
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a{
    color: $color-grey;

    &:hover{
        color: $color-dark_grey;
        text-decoration: none;
    }
}

p{
    color: $color-dark_grey;
}

img{
    max-width: 100%;
}

h1{
    font-family:"acumin-pro-condensed";
    font-size: 55px;
    font-weight: 600;
}
h2{
    font-family:"acumin-pro-condensed";
    font-size: 43px;
    font-weight: 600;
}
h3{
    font-family:"acumin-pro-condensed";
    font-size: 36px;
    font-weight: 600;
}
h4{
    font-family:"acumin-pro-condensed";
    font-size: 28px;
    font-weight: 600;
}
h5{
    font-family:"acumin-pro-condensed";
    font-size: 26px;
    font-weight: 600;
}
h6{
    font-family:"acumin-pro-condensed";
    font-size: 24px;
    font-weight: 600;
}

input,
textarea{
    height: 31px;
    line-height: 31px;
    padding: 0 1rem;
    border-radius: 5px;
    border: 0;
    width: 100%;
}

textarea{
    min-height: 87px;
}

.footer{
    padding: 38px 0;
    color: $color-grey;
    font-size: 0.857rem;

    a{
        color: $color-grey;
        text-transform: uppercase;
        padding-right: 1rem;
        font-size: inherit;
        font-size: 0.857rem;
    }
}

// navbar
.navbar{
    text-transform: uppercase;
    height: 45px;
    padding: 38px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    &-brand{
        width: $logo-width;
        padding: 0;
    }

    &-nav{
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
        
        .nav-link{
            color: $color-white !important;
            font-weight: 600;
            padding-left: 16px !important;
            padding-right: 16px !important;

            &.btn{
                color: $color-gold !important;
                padding-left: 25px !important;
                padding-right: 25px !important;
                font-size: inherit;
                height: 45px;
                line-height: 45px;

                &:hover{
                    color: $color-white !important;
                }
            }
        }

        .nav-item{
            &:last-child{
                margin-left: 16px;
            }
        }
    }
}

// banner
.banner{
    color: $color-white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 110px 0;
    background-position: center left;
    height: 486px;
    
    &-home{
        height: 768px;
        background-image: url('../images/banner/bg-home.jpg');
        background-position: center right;
    }

    &-team{
        background-image: url('../images/banner/bg-team.jpg');
    }

    &-consultant{
        background-image: url('../images/banner/bg-consultant.jpg');
        padding-bottom: 0;

        @include media-breakpoint-down(md){
            height: auto;
        }
    }

    &-specialization{
        background-size: 100% 383px;
        height: auto;
        background-image: url('../images/banner/bg-specialization.jpg');
        background-position: center top;
    }

    &-testimonial{
        background-image: url('../images/banner/bg-testimonial.jpg');
        padding: 70px 0;
        height: auto;
    }
    
    &-contact_us{
        min-height: 548px;
        &.-blue{
            background-image: url('../images/banner/bg-footer.jpg');
        }
        &.-gold{
            background-image: url('../images/banner/bg-footer-gold.jpg');
        }

        @include media-breakpoint-down(md){
            height: auto;
        }
    }
    
    &-home_success{
        min-height: 823px;
        background-image: url('../images/banner/bg-home_success.jpg');
    }
    
    &-infinity_grey{
        min-height: 840px;
        background: $color-lighter_grey url('../images/banner/bg-infinity-grey.jpg') no-repeat;
        background-position: bottom left;
        background-size: 1366px 1080px;
    }

    &-content{
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2{
            text-transform: uppercase;
        }
    }
}

// contact-us
.contact-us{
    &-content{
        color: $color-grey;

        .-gold & {
            color: $color-dark_blue;
        }
    }

    &-form{
        .header{
            height: 45px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            h4{
                margin-bottom: 0;
                text-transform: uppercase;
            }
        }
    }

    .logo{
        width: $logo-width;
    }

    .social-media{
        i{
            font-size: 25px;
        }
        color: $color-white;
        margin-right: 1rem;
    }

    &.-gold{
        a,
        .social-media{
            color: $color-dark_blue;
        }
    }
}

.home{
    &_success{
        .subtitle{
            width: 40%;
            margin: 0 auto;

            @include media-breakpoint-down(md){
                width: 100%;
            }
        }
        .tab-content{
            padding: 40px 0;
            border-bottom: 1px solid $color-grey;
            transition: all .25s;
        }

        .tab-content > .tab-pane{
            text-align: center;
        }

        .nav-tabs{
            border-bottom: 0;
            display: flex;
            justify-content: space-evenly;

            .nav-link{
                background-color: transparent;
                border: 0;
                color: $color-dark_blue;
                text-align: center;
                padding-top: 25px;

                @include media-breakpoint-down(sm){
                    margin: 0 1.5rem;
                }

                .icon{
                    width: 76px;
                    height: 76px;
                    border-radius: 50%;
                    overflow: hidden;
                    background-repeat: no-repeat;
                    background-position: center left;
                    transition: all .25s;

                    &-partners{
                        background-image: url(../images/home_success/icon-partners.png);
                    }
                    &-clients{
                        background-image: url(../images/home_success/icon-clients.png);
                    }
                    &-assets{
                        background-image: url(../images/home_success/icon-assets.png);
                    }
                    &-claims{
                        background-image: url(../images/home_success/icon-claims.png);
                    }
                    &-consultants{
                        background-image: url(../images/home_success/icon-consultants.png);
                    }
                }

                &.active{
                    .icon{
                        background-color: $color-lighter_gold;
                        background-position: center right;
                    }
                }
            }
        }

        .value{
            font-size: 170px;
            line-height: 1.2em;
            color: $color-gold;
            font-family:"acumin-pro-condensed";
            font-weight: 600;

            @include media-breakpoint-down(md){
                font-size: 108px;
            }
        }
        .name{
            font-size: 1.286rem;
            color: $color-darker_grey;
            text-transform: uppercase;

            @include media-breakpoint-down(sm){
                font-size: 1rem;
            }
        }
    }
    &_process{
        .title{
            font-size: 1.571rem;
            font-weight: bold;
            fill: $color-gold;
            line-height: 1em;
        }
    
        .pie-tab{
            cursor: pointer;
            *{
                transition: all .5s;
            }
            .bg_pie{
                fill: $color-light_grey;
                stroke: #e9e9e9;
                &_border{
                    fill: #e9e9e9;
                }
            }
            .header{
                font-size: 32px;
                fill: $color-grey;
            }
            .content{
                tspan{
                    font-size: 1rem;
                    font-weight: 600;
                    fill: $color-grey;
                }
            }
            &.active,
            &.hover{
                .bg_pie{
                    fill: $color-dark_blue;
                    stroke: #000000;
                    &_border{
                        fill: #000000;
                    }
                }
                .header{
                    fill: $color-white;
                }
                .content{
                    tspan{
                        fill: $color-white;
                    }
                }
            }
        }
    
        .tab-content{
            margin-top: 130px;
    
            @include media-breakpoint-down(md){
                margin-top: 0;
            }
        }
    
        &_content{
            color: $color-darker_grey;
    
            .header{
                color: $color-gold;
                font-size: 3.571rem;
                font-weight: 200;
            }
    
            .subheader{
                color: $color-gold;
                font-size: 1.571rem;
                font-weight: 600;
            }
    
            hr{
                margin: 26px 0;
            }
    
            button{
                margin-top: 40px;
            }
        }
    }
}

.team{
    margin: 16px 0;

    .manager{
        margin: 46px 0;
    }

    .item{
        display: block;
        height: 490px;
        position: relative;
        margin: 36px 0;
        overflow: hidden;
        
        .background{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: url('../images/portrait-bg.jpg') center no-repeat;
            background-size: cover;
            z-index: 1;
            filter: blur(0px);
            -webkit-filter: blur(0px);
            transition: all .5s;

            &:after{
                transition: all .5s;
                content: '';
                display: block;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(17, 45, 78, .5);
                opacity: 0;
            }
        }

        &__details{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            color: $color-white;
            padding: 30px;
            transition: all .5s;

            &__name{
                text-transform: uppercase;
                color: $color-gold;
                font-size: 1.857rem;
                font-weight: 600;
            }
            &__position{
                text-transform: uppercase;
                font-size: 1.286rem;
                font-weight: 600;
            }
            &__description{
                margin-top: 0;
                width: 70%;
                height: 0;
                overflow: hidden;
            }
        }

        &:hover{
            .background{
                filter: blur(1px);
                -webkit-filter: blur(1px);

                &:after{
                    top: 0;
                    opacity: 1;
                }
            }
            .item__details{
                bottom: 50%;
                transform: translateY(50%);
                &__description{
                    margin-top: 1.5rem;
                    height: auto;
                }
            }
        }
    }
}

.consultant{
    &__individual{
        text-transform: uppercase;

        .container,
        .row,
        &__details,
        &__portrait{
            height: 100%;
        }

        &__details{
            padding-top: 100px;

            &-link{
                margin-bottom: 57px;
                display: flex;
                justify-content: space-between;
                margin-top: auto;

                @include media-breakpoint-down(md){
                    margin-top: 25px;
                    flex-direction: column;
                }
            }
        }

        &__portrait{
            overflow: hidden;

            @include media-breakpoint-down(md){
                text-align: center;
            }
        }

        a,
        .subheader{
            font-size: 1.428rem;
        }

        a{
            color: $color-white;
        }
    }

    &__bio{
        padding: 72px 0;

        &__description{
            width: 70%;
            margin: 0 auto;
            text-align: center;

            @include media-breakpoint-down(md){
                width: 90%;
            }
        }

        &__qualification{
            background-color: $color-white;
            border-radius: 10px;
            margin-top: 62px;
            padding: 50px;
            color: $color-darker_grey;

            .header{
                margin-bottom: 53px;
                color: $color-gold;
            }

            .credit{
                &__container{
                    display: flex;
                    flex-wrap: wrap;
                    text-align: left;
                }

                flex: 0 0 50%;
                margin-bottom: 12px;
                display: flex;
                align-items: center;

                @include media-breakpoint-down(sm){
                    flex: 0 0 100%;
                }

                &:before{
                    content: '';
                    display: inline-block;
                    margin-right: 12px;
                    width: 19px;
                    height: 18px;
                    background: url(/images/icon-star.png) no-repeat;
                }
            }
        }

    }
    
    &__specialization,
    &__publication{
        .header{
            text-transform: uppercase;
            margin-bottom: 18px;
            color: $color-blue;
        }
        .description{
            width: 60%;
            margin: 0 auto;
            margin-bottom: 50px;
            @include media-breakpoint-down(md){
                width: 90%;
            }
        }
    }

    &__specialization{
        .header{
            color: $color-gold;
        }
        .description{
            color: $color-white;
        }

        &__item{
            box-shadow: 0 2px 2px rgba(0,0,0,0.16);

            &-content{
                background-color: $color-white;
                padding: 43px 65px;

                @include media-breakpoint-down(md){
                    padding: 20px 30px;
                    margin-bottom: 18px;
                }

                p{
                    margin-bottom: 0;
                }
            }
        }
    }

    &__publication{
        padding-bottom: 110px;
    }

    &__testimonial{
        .header{
            text-transform: uppercase;
            margin-bottom: 36px;
            text-align: center;
        }

        &__item{
            background-color: $color-white;
            border-bottom: 9px solid $color-gold;
            text-align: center;
            padding-top: 66px;
            padding-bottom: 40px;
            p{
                width: 60%;
                margin: 0 auto;

                @include media-breakpoint-down(md){
                    width: 80%;
                }
            }

            &-reviewer{
                margin-top: 33px;
            }
        }

        &__pagination{
            margin-top: 18px;
            display: flex;

            ul{
                list-style: none;
                display: flex;
                align-items: center;
                margin: 0 auto;
                padding-left: 0;
            }

            li{
                a{
                    color: $color-greyish;
                    padding: 0 10px;
                    font-size: 1.714rem;
                }

                &.active{
                    a{
                        text-decoration: underline;
                        font-weight: 600;
                        color: $color-gold;
                    }
                }

                &.arrow{
                    color: $color-gold;
                    font-size: 1.714rem;

                    button{
                        background-color: transparent;
                        border: 0;
                        color: $color-gold;
                        
                        &:disabled{
                            opacity: .3;
                        }
                    }
                }
            }
        }
    }
}